@use '../mixins/responsive.scss' as *;
@use '../mixins/pseudo.scss' as *;

.card__top {
  text-align: center;
  background-color: var(--primary-color);
  background-image: url(/assets/images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  padding: 93px 24px;
  margin-bottom: 181px;

  @include responsive(laptop) {
    position: relative;
    padding: 169px 165px 127px;
    text-align: left;
    margin-bottom: 305px;
    background-image: none;
  }

  &::after {
    @include pseudo {
      width: 697px;
      height: 560px;
      left: 1005px;
      top: 0px;
      background-image: url(/assets/images/bg-pattern-intro-right-desktop.svg);
      background-repeat: no-repeat;
      z-index: 10;
    }
  }
}
.card__main {
  text-align: center;
  background-color: var(--primary-color);
  background-image: url(/assets/images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top;
  padding: 72px 24px;
  margin-bottom: 140px;

  @include responsive(laptop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 69px 81px;
    text-align: left;
    margin-bottom: 150px;
  }
}
