@use '../mixins/pseudo.scss' as *;
@use '../mixins/responsive.scss' as *;

.features {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin-bottom: 140px;

  @include responsive(laptop) {
    flex-direction: row;
    margin-bottom: 158px;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include responsive(laptop) {
    text-align: left;
    align-items: start;
  }
}

.features__container {
  position: relative;
  padding-top: 40px;
}

.features__container::after {
  @include pseudo {
    width: 150px;
    height: 1px;
    top: 0;
    left: 89px;
    background-color: #c396c6;
  }
}
