@use '../mixins/pseudo.scss' as *;
@use '../mixins/responsive.scss' as *;

.header {
  position: relative;
  overflow-x: clip;
}

.header::after {
  @include pseudo {
    width: 377px;
    height: 352px;
    right: -252px;
    top: 877px;
    background-image: url(/assets/images/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;

    @include responsive(laptop) {
      width: 300px;
      height: 600px;
      top: 494px;
      left: 0px;
      background-image: url(/assets/images/Group-desktop.svg);
    }
  }
}
